:root {
    --preta-cor: #000;
    --preta-M-cor: #001100;
    --branca-cor: #fff;
    --offwhite-cor: #FAF9F6;
    --verde-cor: #556B2F;
    --amarelo-cor: #7F6000;
    --vermelho-cor: #7e0000;
  }

  .btn {
    background-color: var(--offwhite-cor);
    color: var(--verde-cor);
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
  }

  .btn:hover {
    color: var(--vermelho-cor);
  }