:root {
    --preta-cor: #000;
    --preta-M-cor: #001100;
    --branca-cor: #fff;
    --offwhite-cor: #FAF9F6;
    --verde-cor: #556B2F;
    --amarelo-cor: #7F6000;
    --vermelho-cor: #7e0000;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 13px;
    background-color: var(--preta-cor);
    color: var(--offwhite-cor);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 15px;
  }

  .btn:hover {
    background-color:var(--preta-cor);
    color: var(--verde-cor);
  }